.task_wrapper {
    position: relative;
    padding: 10px;
    background-color: #FFFFFF;

    cursor: pointer;
    margin-top: 10px;

    border-radius: 5px;
}

.top_part {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 20px;
    overflow: hidden;

}

.top_part .id {
    font-size: 15px;
    font-weight: bold;
    color: #847577;
}

.top_part .title {
    font-weight: bold;
    margin-left: 5px;
    color: black;
}

.description {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 25px;

    color: #847577;
    font-size: 14px;
}

.work_time {
    position: absolute;

    left: 45%;
    bottom: 5px;

    color: #b4b4b4;
    font-size: 10px;
}

.date {
    position: absolute;
    left: 10px;
    bottom: 5px;

    font-size: 10px;
}

.date .date_created {
    color: #87a58c;
}

.date .date_finished {
    color: #a57a7b;
}

.high_priority {
    background-color: #ffcccc;
}

.middle_priority {
    background-color: #ffffd6;
}

.low_priority {
    background-color: #e6ffe6;
}

.buttons {
    position: absolute;
    right: 5px;
}

img:hover {
    filter: drop-shadow(1px 1px 1px);
}

img{
    cursor: pointer;
}

.edit_button {
    height: 15px;
    width: 15px;

    padding-right: 5px;
}

.trash_button {
    height: 15px;
    width: 15px;
}

.open_button {
    position: absolute;

    bottom: 5px;
    right: 5px;

    height: 20px;
    width: 20px;

    transform: scale(-1, 1);
}