.projects_wrapper_blur{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.project_elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    grid-gap: 15px;
}

.button_add img{
    position: fixed;

    bottom: 20px;
    right: 20px;

    cursor: pointer;

    width: 60px;
    height: 60px;
}